.cell.last-edit-adjust {
    background-color: var(--rz-warning-lighter);
    color: var(--rz-warning-contrast);
}

.cell.last-edit-insert {
    background-color: var(--rz-success-lighter);
    color: var(--rz-success-contrast);
}
