.weights-grid .cell.weights-grid__cell--adjust,
.weights-grid .cell.weights-grid__cell--insert {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.weights-grid .cell.weights-grid__cell--adjust {
    background-color: #ffe6f3;
}

.weights-grid .cell.weights-grid__cell--insert {
    background-color: #e6ffe6;
}
