.cell.last-edit-adjust {
    background-color: var(--rz-warning-lighter);
    color: var(--rz-warning-contrast);
}

.cell.last-edit-insert {
    background-color: var(--rz-success-lighter);
    color: var(--rz-success-contrast);
}

.monitoring-calendar-panel .rz-dropdown-item {
    font-size: 0.8125rem;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
}

.monitoring-calendar-panel .rz-picker-panel,
.monitoring-calendar-panel .rz-dropdown-panel {
    box-sizing: border-box;
}
